body{
background-image: url(https://image.freepik.com/free-vector/abstract-technology-background-web-developer-computer-code_88211-423.jpg);
color: yellow;
font-size: 30px;
}
h1{
    color: palegreen;
    font-family: 'Marck Script', cursive;
}